* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 4096px;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: linear-gradient(to right, greenyellow 0%, #ccc 0%);
	text-align: center;
	font-size: 24px;
	font-weight: bold;

}